# Xojo (formerly REALbasic and Real Studio)

*.xojo_binary_project linguist-language=Xojo
*.xojo_xml_project linguist-language=Xojo
*.xojo_binary_code linguist-language=Xojo


Builds*
*.debug
*.debug.app
Debug*.exe
Debug*/Debug*.exe
Debug*/Debug*\ Libs
*.rbuistate
*.xojo_uistate
*.obsolete
