# Xojo (formerly REALbasic and Real Studio)

Builds*
*.debug
*.debug.app
Debug*.exe
Debug*/Debug*.exe
Debug*/Debug*\ Libs
*.rbuistate
*.xojo_uistate
*.obsolete

*.xojo_binary_project linguist-language=Xojo
*.xojo_xml_project linguist-language=Xojo
